{% extends 'base.html' %}

{% block title %}
Add User Form
{% endblock %}

{% block content %}
<div>
  <h2>Add a User</h2>
  <span>
    <form method="POST">
      {{form.hidden_tag()}}

      {% for field in form 
              if field.widget.input_type != 'hidden' %}
      <p>
        {{field.label}}
        {{field}}
        {% for error in field.errors %}
        {{error}}
        {% endfor %}
      </p>
      {% endfor %}

      <button type="submit">Add User</button>
    </form>
  </span>

  <span>
    <h3>User Login</h4>
      <a class="btn btn-primary" href="/login">Log In</a>
  </span>
</div>
{% endblock %}